@import '../mixin';

.about {
    padding: 150px 0 120px 0;

    .container {
        .image-block-about {
            .image-block {
                display: block;
                float: right;
                background: #fff;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, .2);
                margin-right: 50px;
                margin-bottom: 50px;

                img {
                    display: block;
                    max-width: 100%;
                }
            }

            .clear-fix {
                clear: both;
            }

            .video-block {
                display: flex;
                align-items: center;

                .image-thumb {
                    display: inline-block;
                    background: #fff;
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, .2);
                    width: 60%;

                    img {
                        display: block;
                        width: 100%;
                        max-width: 100%;
                    }
                }
                .block-play-video {
                    padding: 30px;

                    h5 {
                        font-size: 22px;
                        line-height: 28px;
                        font-weight: 700;
                        margin-bottom: 13px;
                        color: #061a3a;
                    }

                    button {
                        border: none;
                        outline: none;
                        background-color: transparent;
                        color: $main-color;
                        font-size: 75px;
                    }
                }
            }
        }

        .about-content {
            .sec-title {
                margin-bottom: 26px;

                p {
                    @include section-title-p;
                }

                h2 {
                    @include section-title-h2;
                }
            }
            .about-content-desc {
                p {
                    color: #808080;
                    font-weight: 400;
                    line-height: 28px;
                    font-size: 16px;
                    margin-bottom: 25px;
                }

                span {
                    display: flex;
                    align-items: center;
                    color: #808080;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 8px;

                    i {
                        font-size: 25px;
                        color: #000;
                        margin-right: 6px;
                    }
                }

                a {
                    display: inline-block;
                    font-size: 17px;
                    line-height: 25px;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 500;
                    color: $white-color;
                    text-align: center;
                    padding: 17.5px 41.5px;
                    border-radius: 4px;
                    background: #ff7c5b;
                    transition: all 500ms ease;
                    margin-top: 25px;

                    &:hover {
                        background-color: #061a3a;
                    }
                }
            }
        }
    }
}
.about-modal-video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: .5s ease;

    &.open {
        display: block;
    }

    .btn-close-modal-video {
        border: none;
        outline: none;
        background-color: transparent;
        color: $white-color;
        font-size: 40px;
        transition: .5s ease;
        
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            transform: rotate(360deg);
        }
    }

    .container {
        position: relative;
        height: 100%;
        padding: 50px 0;

        iframe {
            width: 80%;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

