<section class="blog">
    <div class="container">
        <div class="sec-title">
            <p>NEWS & ARTICLES</p>
            <h2>Stay Update with Travio Tips</h2>
            <a href="/blogs" class="show-all-blog">
                All Blog Posts
            </a>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-box">
                    <div class="blog-date">
                        <span class="date-icon">
                            <i class='bx bxs-calendar'></i>
                        </span>
                        <p>January 25, 2021</p>
                    </div>
                    <figure class="blog-image">
                        <img src="/image/news-1.jpg" alt="image blog">
                    </figure>
                    <div class="category">
                        <a href="#">Logo & Assets</a>
                        <a href="#">Travel Direction</a>
                    </div>
                    <h3 class="title">
                        <a href="#">Including animation in your design system</a>
                    </h3>
                    <p class="info"> By <span>Admin </span>- January 25, 2021</p>
                    <p class="excerpt">
                        Lorem ipsum dolor sit amet consectur adip icing sed eiusmod.
                    </p>
                    <a class="detail" href="#">See Details</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-box">
                    <div class="blog-date">
                        <span class="date-icon">
                            <i class='bx bxs-calendar'></i>
                        </span>
                        <p>January 25, 2021</p>
                    </div>
                    <figure class="blog-image">
                        <img src="/image/news-3.jpg" alt="image blog">
                    </figure>
                    <div class="category">
                        <a href="/">Logo & Assets</a>
                        <a href="/">Travel Direction</a>
                    </div>
                    <h3 class="title">
                        <a href="/">Including animation in your design system</a>
                    </h3>
                    <p class="info"> By <span>Admin </span>- January 25, 2021</p>
                    <p class="excerpt">
                        Lorem ipsum dolor sit amet consectur adip icing sed eiusmod.
                    </p>
                    <a class="detail" href="/">See Details</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-box">
                    <div class="blog-date">
                        <span class="date-icon">
                            <i class='bx bxs-calendar'></i>
                        </span>
                        <p>January 25, 2021</p>
                    </div>
                    <figure class="blog-image">
                        <img src="/image/news-2.jpg" alt="image blog">
                    </figure>
                    <div class="category">
                        <a href="/">Logo & Assets</a>
                        <a href="/">Travel Direction</a>
                    </div>
                    <h3 class="title">
                        <a href="/">Including animation in your design system</a>
                    </h3>
                    <p class="info"> By <span>Admin </span>- January 25, 2021</p>
                    <p class="excerpt">
                        Lorem ipsum dolor sit amet consectur adip icing sed eiusmod.
                    </p>
                    <a class="detail" href="/">See Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pattern-layer"></div>
</section>