<section class="deals">
    <div class="container">
        <div class="deals-box">
            <h3>Group Travel to New Zealand</h3>
            <h5>$150 <span>$300</span></h5>
            <p>Lorem ipsum dolor amet consectetur adipiscing sed do eiusmod tempor ux incidunt labore dolore magna
                aliqua Quis ipsum
                suspen. bgbd
            </p>
            <a href="/">
                See Details
            </a>
        </div>
    </div>
</section>