<section class="place">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="sec-title">
                    <span>CHOOSE YOUR PLACE</span>
                    <h2>Popular Destinations</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiu smod tempor incididunt.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="place-box-image">
                    <img src="./image/place-1.jpg" alt="">
                    <a href="/">New York City</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="place-box-image">
                    <img src="./image/place-2.jpg" alt="">
                    <a href="/">New York City</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="place-box-image">
                    <img src="./image/place-3.jpg" alt="">
                    <a href="/">New York City</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="place-box-image">
                    <img src="./image/place-4.jpg" alt="">
                    <a href="/">New York City</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="place-link-box">
                    <h4>Find All <br> Destination</h4>
                    <a href="/">Find Now</a>
                </div>
            </div>
        </div>
    </div>
</section>