<section class="feature">
    <div class="container">
        <div class="sec-title">
            <p>TRAVIO SPECIALS</p>
            <h2>Why Travel with Tutive?</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="feature-card">
                    <div class="feature-card-image">
                        <img src="/image/feature-1.jpg" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h4>2000+ Our Worldwide Guide</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="feature-card">
                    <div class="feature-card-image">
                        <img src="/image/feature-2.jpg" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h4>100% Trusted Tour Agency</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="feature-card">
                    <div class="feature-card-image">
                        <img src="/image/feature-3.jpg" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h4>12+ Years of Travel Experience</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="feature-card">
                    <div class="feature-card-image">
                        <img src="/image/feature-4.jpg" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h4>98% of Our Travelers are Happy</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>