<section class="testimonial">
    <div class="container">
        <div class="sec-title">
            <p>REVIEW & TESTIMONIALS</p>
            <h2>Top Reviews for Travio</h2>
        </div>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <p class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </p>
                        <p class="desc">
                            Lorem ipsum dolor amet consectet adipiscing sed do eiusmod tempor incididunt labore et
                            dolore
                            magna aliqua ipsum suspen
                            disse ultrices gravida Risus
                        </p>
                        <h4>Amy Johnson</h4>
                        <span>Traveler</span>
                        <figure>
                            <img src="./image/testimonial-2.png" alt="testimonial">
                        </figure>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <p class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </p>
                        <p class="desc">
                            Lorem ipsum dolor amet consectet adipiscing sed do eiusmod tempor incididunt labore et
                            dolore
                            magna aliqua ipsum suspen
                            disse ultrices gravida Risus
                        </p>
                        <h4>Amy Johnson</h4>
                        <span>Traveler</span>
                        <figure>
                            <img src="./image/testimonial-2.png" alt="testimonial">
                        </figure>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <p class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </p>
                        <p class="desc">
                            Lorem ipsum dolor amet consectet adipiscing sed do eiusmod tempor incididunt labore et
                            dolore
                            magna aliqua ipsum suspen
                            disse ultrices gravida Risus
                        </p>
                        <h4>Amy Johnson</h4>
                        <span>Traveler</span>
                        <figure>
                            <img src="./image/testimonial-2.png" alt="testimonial">
                        </figure>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <p class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </p>
                        <p class="desc">
                            Lorem ipsum dolor amet consectet adipiscing sed do eiusmod tempor incididunt labore et
                            dolore
                            magna aliqua ipsum suspen
                            disse ultrices gravida Risus
                        </p>
                        <h4>Amy Johnson</h4>
                        <span>Traveler</span>
                        <figure>
                            <img src="./image/testimonial-2.png" alt="testimonial">
                        </figure>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <p class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </p>
                        <p class="desc">
                            Lorem ipsum dolor amet consectet adipiscing sed do eiusmod tempor incididunt labore et
                            dolore
                            magna aliqua ipsum suspen
                            disse ultrices gravida Risus
                        </p>
                        <h4>Amy Johnson</h4>
                        <span>Traveler</span>
                        <figure>
                            <img src="./image/testimonial-2.png" alt="testimonial">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: false,
            },
            breakpoints: {
                640: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 40,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 50,
                },
            },
        });
    </script>

</section>