<section class="tour">
    <div class="container">
        <div class="sec-title">
            <p>MODERN & BEAUTIFUL</p>
            <h2>Our Most Popular Adventures</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="tour-card">
                    <div class="tour-card-img">
                        <img src="/image/tour-1.jpg" alt="tour image">
                    </div>
                    <div class="tour-card-info">
                        <div class="info-review">
                            <span class="star-rate">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </span>
                            <span class="count-review">
                                1 Review
                            </span>
                        </div>
                        <h3>
                            <a href="/">Moscow Red City Land</a>
                        </h3>
                        <h4>$160<span> / Per person</span></h4>
                        <ul>
                            <li>
                                <i class='bx bx-time'></i>
                                <span>5 days</span>
                            </li>
                            <li>
                                <i class='bx bx-map-alt'></i>
                                <span>G87P, Birmingham</span>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor amet consectetur adipiscing sed do eiusmod tempor incididunt.</p>
                        <a class="see-detail" href="/">See Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="tour-card">
                    <div class="tour-card-img">
                        <img src="/image/tour-3.jpg" alt="tour image">
                    </div>
                    <div class="tour-card-info">
                        <div class="info-review">
                            <span class="star-rate">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </span>
                            <span class="count-review">
                                1 Review
                            </span>
                        </div>
                        <h3>
                            <a href="/">Moscow Red City Land</a>
                        </h3>
                        <h4>$160<span> / Per person</span></h4>
                        <ul>
                            <li>
                                <i class='bx bx-time'></i>
                                <span>5 days</span>
                            </li>
                            <li>
                                <i class='bx bx-map-alt'></i>
                                <span>G87P, Birmingham</span>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor amet consectetur adipiscing sed do eiusmod tempor incididunt.</p>
                        <a class="see-detail" href="/">See Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="tour-card">
                    <div class="tour-card-img">
                        <img src="/image/tour-1.jpg" alt="tour image">
                    </div>
                    <div class="tour-card-info">
                        <div class="info-review">
                            <span class="star-rate">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </span>
                            <span class="count-review">
                                1 Review
                            </span>
                        </div>
                        <h3>
                            <a href="/">Moscow Red City Land</a>
                        </h3>
                        <h4>$160<span> / Per person</span></h4>
                        <ul>
                            <li>
                                <i class='bx bx-time'></i>
                                <span>5 days</span>
                            </li>
                            <li>
                                <i class='bx bx-map-alt'></i>
                                <span>G87P, Birmingham</span>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor amet consectetur adipiscing sed do eiusmod tempor incididunt.</p>
                        <a class="see-detail" href="/">See Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>