<footer class="footer">
    <div class="container">
        <div class="footer-widget">
            <a class="footer-logo" href="/">
                <img src="/image/logo.png" alt="logo">
            </a>
            <p class="text">
                Lorem ipsum dolor amet consetetur adi pisicing elit sed eiusm tempor in cididunt ut labore dolore magna
                aliqua enim.
            </p>
            <ul class="footer-social">
                <li>
                    <a href="/"><i class='bx bxl-facebook'></i></a>
                </li>
                <li>
                    <a href="/"><i class='bx bxl-twitter'></i></a>
                </li>
                <li>
                    <a href="/"><i class='bx bxl-instagram-alt'></i></a>
                </li>
                <li>
                    <a href="/"><i class='bx bxl-google-plus'></i></a>
                </li>
                <li>
                    <a href="/"><i class='bx bxl-linkedin'></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-widget">
            <h3 class="footer-widget-header">Services</h3>
            <ul class="link-services">
                <li><a href="/">About Us</a></li>
                <li><a href="/">How It Works</a></li>
                <li><a href="/">Our Blog</a></li>
                <li><a href="/">Our Services</a></li>
                <li><a href="/">Contact Us</a></li>
                <li><a href="/">Listing</a></li>
            </ul>
        </div>
        <div class="footer-widget">
            <h3 class="footer-widget-header">Gallery</h3>

            <ul class="gallery">
                <li><a href="/"><img src="/image/feature-1.jpg" alt="gallery"></a></li>
                <li><a href="/"><img src="/image/feature-2.jpg" alt="gallery"></a></li>
                <li><a href="/"><img src="/image/feature-3.jpg" alt="gallery"></a></li>
                <li><a href="/"><img src="/image/feature-4.jpg" alt="gallery"></a></li>
                <li><a href="/"><img src="/image/news-1.jpg" alt="gallery"></a></li>
                <li><a href="/"><img src="/image/news-2.jpg" alt="gallery"></a></li>
            </ul>
        </div>
        <div class="footer-widget">
            <h3 class="footer-widget-header">Gallery</h3>

            <ul class="address">
                <li>
                    <i class='bx bxs-map'></i>
                    <p>Flat 20, Reynolds Neck, North Helenaville, FV77 8WS</p>
                </li>
                <li>
                    <i class='bx bxs-map'></i>
                    <p>+2(305) 587-3407</p>
                </li>
                <li>
                    <i class='bx bxs-map'></i>
                    <p>info@example.com</p>
                </li>
            </ul>
        </div>
    </div>
</footer>