<section class="wrapper">
    <nav class="sidebar">
        <a href="/" class="sidebar-brand">
            <img src="/image/logo.png" alt="logo" />
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a href="/admin/dashboard">
                    <i class="bx bxs-dashboard"></i>
                    Dashboard
                </a>
            </li>
            <li class="sidebar-nav-item">
                <i class="bx bx-buildings"></i>
                Destination
                <ul class="nav-sub-item">
                    <li><a href="/admin/destination/create">Create destination</a></li>
                    <li><a href="/admin/destination">Destination</a></li>
                </ul>
            </li>
            <li class="sidebar-nav-item">
                <i class="bx bx-train"></i>
                Tour
                <ul class="nav-sub-item">
                    <li><a href="/admin/tour/create">Create Tour</a></li>
                    <li><a href="/admin/tour">Tour</a></li>
                </ul>
            </li>
            <li class="sidebar-nav-item">
                <i class="bx bx-book-content"></i>
                Blog
                <ul class="nav-sub-item">
                    <li><a href="/admin/blog/create">Create Blog</a></li>
                    <li><a href="/admin/blog">Blog</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="main">
        <nav class="navbar">
            <button class="sidebar-toggle">
                <i class="bx bx-menu-alt-left"></i>
            </button>
            <form class="input-search">
                <input type="text" name="search" placeholder="Search projects" />
                <button type="submit">
                    <i class="bx bx-search-alt"></i>
                </button>
            </form>
            <div class="account">
                <figure>
                    <img src="/image/testimonial-2.png" alt="user avatar" />
                    <span>Admin</span>
                </figure>
                <ul>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </div>
        </nav>
        <main class="main-content">
            <div class="tours-wrapper">
                <table>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Create at</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    {{#each tour}}
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>{{this.title}}</td>
                        <td>{{formatDate this.createdAt}}</td>
                        <td><img src="{{this.image}}" alt="image"></td>
                        <td>
                            <a href="/admin/tour/{{this._id}}/edit" class="edit">Edit</a>
                            <button href="" class="delete">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </main>
    </div>
</section>

<script>
    const toggleSidebar = document.querySelector('.sidebar-toggle');
    const sidebarEle = document.querySelector('.sidebar');
    const mainEle = document.querySelector('.main');

    // toggle sidebar
    toggleSidebar.addEventListener('click', () => {
        sidebarEle.classList.toggle('toggle');
        mainEle.classList.toggle('toggle');
    });

</script>